<!-- homepage.component.html -->
<div class="header-container d-flex justify-content-between align-items-center px-4 py-3">
  <!-- Logo -->
  <div class="logo">
    <img src="../../assets/logo.png" alt="Logo" class="logo-img">
  </div>

  <!-- Right: Username, Email, Buttons -->
  <div class="right-section d-flex align-items-center gap-4">
    <div class="user-info text-end me-3">
      <div class="button-group">
      <button class="btn btn-sm">Apply</button>
      <button class="btn btn-sm ms-2">View</button>
      {{ username }} {{ email }}
    </div>
      <!-- <div><strong></strong></div> -->
      <!-- <div></div> -->
    </div>

    
  </div>
</div>
