
.label-color th,.time-title{
    color: #3b6caa;
    font-size: .96rem;
    font-weight: 700;
}
i{
    color:#f99700;
    font-size:23px;
}
form table tbody td input{
   border-color:#6c757d;
   width:105px;
   height:25px;
}
form table tbody td select{
   border-color:#6c757d;
   width:110px;
   height:25px;
   padding: 0;
}

form table tbody td select{
   border-color:#6c757d;
   width:106px;
}
.card{   
  border-color:#c2cdd6;
}
tr th{
 line-height: 10px;
}
