<div class="card p-2">
    <form class="">
        <div class="card h-100"><div class="table-responsive h-100">
            <table class="table table-sm table-striped ">
                <thead class="text-primary">
                    <tr class="text-primary">
                        <th class="dice"></th>
                        <th>S.No</th>
                        <th>Resource</th>
                        <th>Type</th>
                        <th>Month</th>
                        <th>Date</th>
                        <th>Year</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                        <th>Total Duration</th>
                        <th>Break Duration</th>
                        <th>Act. Work Hours </th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>Gayathri G</td>
                        <td>Present</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
        
    </form>
</div>
