body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    background-color: #fff;
}

.label-color th{
    color: #3b6caa;
    vertical-align: top !important;
    font-size: .96rem;
    font-weight: 700;
    padding: .1rem 1.6px .2rem;
}
input,select{
    border: none;
}
i{
    color:#f99700;
    font-size: 26px;
}