<div class="card border m-4">
  <div class="card-header d-flex">
    <p class="title">Add Task</p>
    <div class="actions col">
      <button
        type="button"
        class="btn btn-sm btn-icon btn-secondary"
        (click)="addTaskRow()"
        title="Add Task"
      >
        <i class="fa fa-plus small"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <form [formGroup]="taskDetailFormGroup">
      <div class="tableFixHead text-nowrap" style="height: 45vh">
        <table
          class="table table-sm td-border-0"
          style="width: 180% !important"
        >
          <!-- <table class="table table-bordered table-sm table-smaller align-middle"></table> -->
          <thead class="text-primary sticky-top border-bottom">
            <tr>
              <th class="w-p-28"></th>
              <th title="S.No">S.No</th>
              <th title="Project">Project</th>
              <th title="Sprint">Sprint</th>
              <th title="Task Name">Task Name</th>
              <th title="Type">Type</th>
              <th title="SOW/Issue No">SOW/Issue No</th>
              <th title="Is Billable">Is Billable</th>
              <th title="Billing Type">Billing Type</th>
              <th title="Res. Name">Res. Name</th>
              <th title="Team">Team</th>
              <th title="Est. Start Dt">Est. Start Dt</th>
              <th title="Est. End Dt">Est. End Dt</th>
              <th title="Est. Hours">Est. Hours</th>
              <th title="Act. Start Dt">Act. Start Dt</th>
              <th title="Act. End Dt">Act. End Dt</th>
              <th title="Start Time">Start Time</th>
              <th title="End Time">End Time</th>
              <th title="Act. Hours">Act. Hours</th>
              <th title="%">%</th>
              <th title="Status">Status</th>
              <th title="Comments">Comments</th>
            </tr>
          </thead>

          <tbody formArrayName="taskDetailsList">
            <tr
              *ngFor="let task of taskDetailArray.controls; let i = index"
              [ngClass]="{ active: i === selectDetailIndex }"
              (click)="selectBatchDetail(task.getRawValue(), i)"
            >
              <ng-container [formGroupName]="i">
                <td class="w-p-28">
                  <app-dice-menu
                    [actionLinks]="diceOptions ? diceOptions : []"
                    [hostComponent]="'ApplyTaskTimeScheduleComponent'"
                    [item]="task"
                    [index]="i"
                  ></app-dice-menu>
                </td>
                <td>
                  <input
                    type="text"
                    [value]="i + 1"
                    readonly
                    class="p-0 form-control-plaintext"
                  />
                </td>

                <td class="w-6 ps-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('project')?.errors
                  }"
                  >
                  <select
                    class="form-control form-control-sm form-select"
                    id="resource"
                    name="resource"
                    formControlName="project"
                  >
                    <!-- title="{{ taskDetailArray?.get('resource')?.value }}" -->
                    <option value="">--Select--</option>

                    <option
                       *ngFor="let item of projectDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                  </div>
                </td>
                <td class="w-5 pe-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('sprint')?.errors
                  }"
                  >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      id="sprint"
                      maxlength="25"
                      formControlName="sprint"
                    />
                  </div>
                </td>
                <td class="w-7 pe-2">
                  <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('taskName')?.errors
                  }"
                >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      id="taskName"
                      formControlName="taskName"
                    />
                  </div>
                </td>
                <!-- <td><input type="text" formControlName="taskName" required /></td> -->
                <td class="w-7 ps-2">
                  <div 
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('type')?.errors
                  }"
                  >
                  <select
                    class="form-control form-control-sm form-select"
                    id="type"
                    name="type"
                    formControlName="type"
                  >
                    title="{{ taskDetailArray.controls[i].get('resource')?.value }}"
                    <option value="">--Select--</option>

                    <option
                    *ngFor="let item of typeDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                  </div>
                </td>
                <td class="w-5 pe-2">
                  <div 
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('sowIssueNo')?.errors
                  }"
                  >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      id="sowIssueNo"
                      formControlName="sowIssueNo"
                    />
                  </div>
                </td>
                <td class="w-5 ps-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('isBillable')?.errors
                  }"
                  >
                  <select
                    class="form-control form-control-sm form-select"
                    id="isBillable"
                    name="isBillable"
                    formControlName="isBillable"
                  >
                    <!-- title="{{ taskDetailArray?.get('resource')?.value }}" -->
                    <option value="">--Select--</option>

                    <option
                      *ngFor="let item of isBillableDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                  </div>
                </td>
                <td class="w-5 ps-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('billingType')?.errors
                  }"
                  >
                  <select
                    class="form-control form-control-sm form-select"
                    id="billingType"
                    name="billingType"
                    formControlName="billingType"
                  >
                    <!-- title="{{ taskDetailArray?.get('resource')?.value }}" -->
                    <option value="">--Select--</option>

                    <option
                      *ngFor="let item of billingTypeDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                  </div>
                </td>
                <td class="w-10 pe-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('resName')?.errors
                  }"
                  >
                    <input
                      class="form-control form-control-sm "
                      type="text"
                      id="resName"
                      readonly
                      formControlName="resName"
                    />
                  </div>
                </td>
                <td class="w-5 pe-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                    required:taskDetailArray.controls[i].get('team')?.errors
                  }"
                  >
                    <!-- <input
                      class="form-control form-control-sm"
                      type="text"
                      id="team"
                      formControlName="team"
                    /> -->
                    <select
                    class="form-control form-control-sm form-select"
                    id="team"
                    name="team"
                    formControlName="team"
                  >
                    <!-- title="{{ taskDetailArray?.get('resource')?.value }}" -->
                    <option value="">--Select--</option>

                    <option
                      *ngFor="let item of teamDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                    
                  </div>
                </td>

                <td class="w-6">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('estStDt')?.errors
                    }"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="MM/DD/YYYY"
                      #estStDt="bsDatepicker"
                      [bsValue]="taskDetailArray.controls[i].get('estStDt')?.value"
                      id="estStDt"
                      name="estStDt"
                      (bsValueChange)="
                        dateValueChange($event, 'estStDt', i)
                      "
                      (blur)="dateValueChange($event, 'estStDt', i)"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      mask="M0/d0/0000"
                      triggers="dblclick:click"
                      [disabled]="taskDetailArray.disabled"
                      [title]="
                       taskDetailArray.controls[i].get('estStDt')?.value !=='Invalid Date' ?
                       ( (taskDetailArray.controls[i].get('estStDt')?.value
                        | date : 'MM/dd/yyyy')
                          ? (taskDetailArray.controls[i].get('estStDt')?.value
                            | date : 'MM/dd/yyyy')
                          : '') : (taskDetailArray.controls[i].get('estStDt')?.value)
                      "
                    />
                    <div class="input-group-append spk-calender">
                      <button
                        class="btn-secondary btn-outline-secondary"
                        (click)="estStDt.toggle()"
                        type="button"
                        [disabled]="taskDetailArray.disabled"
                        [disabled]="taskDetailArray.disabled"
                      >
                        <inspire-icon
                          name="calendar"
                          class="icon icon-sm"
                        ></inspire-icon>
                      </button>
                    </div>
                  </div>
                </td>

                <td class="w-6">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('estEndDt')?.errors
                    }"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="MM/DD/YYYY"
                      #estEndDt="bsDatepicker"
                      [bsValue]="taskDetailArray.controls[i].get('estEndDt')?.value"
                      id="estEndDt"
                      name="estEndDt"
                      (bsValueChange)="dateValueChange($event, 'estEndDt', i)"
                      (blur)="dateValueChange($event, 'estEndDt', i)"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      mask="M0/d0/0000"
                      triggers="dblclick:click"
                      [disabled]="taskDetailArray.disabled"
                      [title]="
                      taskDetailArray.controls[i].get('estEndDt')?.value !=='Invalid Date' ?
                       ( (taskDetailArray.controls[i].get('estEndDt')?.value
                        | date : 'MM/dd/yyyy')
                          ? (taskDetailArray.controls[i].get('estEndDt')?.value
                            | date : 'MM/dd/yyyy')
                          : '') : (taskDetailArray.controls[i].get('estEndDt')?.value)
                      "
                    />
                    <div class="input-group-append spk-calender">
                      <button
                        class="btn-secondary btn-outline-secondary"
                        (click)="estEndDt.toggle()"
                        type="button"
                        [disabled]="taskDetailArray.disabled"
                        [disabled]="taskDetailArray.disabled"
                      >
                        <inspire-icon
                          name="calendar"
                          class="icon icon-sm"
                        ></inspire-icon>
                      </button>
                    </div>
                  </div>
                </td>

                <!-- <td><input type="date" formControlName="estStDt" /></td> -->
                <!-- <td><input type="date" formControlName="estEndDt" /></td> -->

                <td class="w-2 pe-2">
                  <div class="input-group input-group-sm">
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      mask="Hh:m0"
                      placeholder="00:00"
                      id="estHours"
                      formControlName="estHours"
                    />
                  </div>
                </td>

                <td class="w-6">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('actStDt')?.errors
                    }"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="MM/DD/YYYY"
                      #actStDt="bsDatepicker"
                      [bsValue]="taskDetailArray.controls[i].get('actStDt')?.value"
                      id="actStDt"
                      name="actStDt"
                      (bsValueChange)="
                        dateValueChange($event, 'actStDt', i)
                      "
                      (blur)="dateValueChange($event, 'actStDt', i)"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      mask="M0/d0/0000"
                      triggers="dblclick:click"
                      
                      [title]="
                        taskDetailArray.controls[i].get('actStDt')?.value !=='Invalid Date' ?
                       ( (taskDetailArray.controls[i].get('actStDt')?.value
                        | date : 'MM/dd/yyyy')
                          ? (taskDetailArray.controls[i].get('actStDt')?.value
                            | date : 'MM/dd/yyyy')
                          : '') : (taskDetailArray.controls[i].get('actStDt')?.value)
                      "
                    />
                    <div class="input-group-append spk-calender">
                      <button
                        class="btn btn-secondary btn-outline-secondary"
                        (click)="actStDt.toggle()"
                        type="button"
                      >
                        <inspire-icon
                          name="calendar"
                        ></inspire-icon>
                      </button>
                    </div>
                  </div>
                </td>

                <td class="w-6">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('actEndDt')?.errors
                    }"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="MM/DD/YYYY"
                      #actEndDt="bsDatepicker"
                      [bsValue]="taskDetailArray.controls[i].get('actEndDt')?.value"
                      id="actEndDt"
                      name="actEndDt"
                      (bsValueChange)="
                        dateValueChange($event, 'actEndDt', i)
                      "
                      (blur)="dateValueChange($event, 'actEndDt', i)"
                      [bsConfig]="bsConfig"
                      bsDatepicker
                      mask="M0/d0/0000"
                      triggers="dblclick:click"
                      [title]="
                        taskDetailArray.controls[i].get('actEndDt')?.value !=='Invalid Date' ?
                       ( (taskDetailArray.controls[i].get('actEndDt')?.value
                        | date : 'MM/dd/yyyy')
                          ? (taskDetailArray.controls[i].get('actEndDt')?.value
                            | date : 'MM/dd/yyyy')
                          : '') : (taskDetailArray.controls[i].get('actEndDt')?.value)
                      "
                    />
                    <div class="input-group-append spk-calender">
                      <button
                        class="btn-secondary btn-outline-secondary"
                        (click)="actEndDt.toggle()"
                        type="button"
                      >
                        <inspire-icon
                          name="calendar"
                          class="icon icon-sm"
                        ></inspire-icon>
                      </button>
                    </div>
                  </div>
                </td>
              
                <!-- <td><input type="date" formControlName="actStDt" /></td>
              <td><input type="date" formControlName="actEndDt" /></td> -->

                <td class="w-1">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('stTime')?.errors
                    }"
                  >
                    <input
                      class="form-control"
                      type="text"
                      id="stTime"
                      maxlength="5"
                      
                      mask="Hh:m0"
                      placeholder="00:00"
                      [dropSpecialCharacters]="false"
                      formControlName="stTime"
                    />
                    <!-- formControlName="day" -->
                    <!-- [title]="
                                            taskDetailArray.get('day')?.value
                                            ? taskDetailArray.get('day')?.value
                                            : ''
                                            " -->
                  </div>
                </td>
                <td class="w-1">
                  <div
                    class="input-group input-group-sm"
                    [ngClass]="{
                      required: taskDetailArray.controls[i].get('endTime')?.errors
                    }"
                  >
                    <input
                      class="form-control"
                      type="text"
                      id="endTime"
                      maxlength="5"
                      [dropSpecialCharacters]="false"
                   
                      placeholder="00:00"
                      mask="Hh:m0"
                      formControlName="endTime"
                    />
                    <!-- formControlName="day" -->
                    <!-- [title]="
                                            taskDetailArray.get('day')?.value
                                            ? taskDetailArray.get('day')?.value
                                            : ''
                                            " -->
                  </div>
                </td>

                <!-- <td><input type="time" formControlName="stTime" /></td>
              <td><input type="time" formControlName="endTime" /></td> -->

                <td class="w-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                      required: taskDetailArray.controls[i].get('actHours')?.errors
                    }"
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="actHours"
                      readonly
                      maxlength="5"
                      formControlName="actHours"
                    />
                  </div>
                </td>
                <td class="w-2">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                      required: taskDetailArray.controls[i].get('percentage')?.errors
                    }"
                    >
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      id="percentage"
                       maxlength="3"
                      formControlName="percentage"
                    />
                  </div>
                </td>
                <td class="w-5">
                  <div class="input-group input-group-sm"
                  [ngClass]="{
                      required: taskDetailArray.controls[i].get('status')?.errors
                    }"
                    >
                    <!-- <input
                      class="form-control form-control-sm"
                      type="text"
                      id="status"
                      formControlName="status"
                    /> -->
                    <select
                    class="form-control form-control-sm form-select"
                    id="status"
                    name="status"
                    formControlName="status"
                  >
                    <!-- title="{{ taskDetailArray?.get('resource')?.value }}" -->
                    <option value="">--Select--</option>

                    <option
                      *ngFor="let item of statusDropdown; let i = index"
                    [ngValue]="item.codeName"
                    >
                      {{ item.screenName }}
                    </option>
                  </select>
                    
                  </div>
                </td>
                <td class="w-4">
                  <div class="input-group input-group-sm">
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      id="comments"
                      formControlName="comments"
                    />
                  </div>
                </td>

                <!-- <td><button type="submit" (click)="onsubmit()" style="border: none;"><i class="fa-solid fa-floppy-disk"></i></button></td> -->
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Error Message -->
      <div *ngIf="showError" class="text-danger mt-2 px-2">
        Please fill required fields for the selected rows before saving.
      </div>
    </form>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
