<app-apply-task-time-grid 
[ApplyTaskTimeFormGroup]="ApplyTaskTimeFormGroup"
[typeDropdown]="typeDropdown"
[resourceDropdown]="resourceDropdown"
></app-apply-task-time-grid>
<app-apply-task-time-schedule>
    
</app-apply-task-time-schedule>
<div class="d-flex justify-content-center align-content-between my-3 ">
     <button type="button" class="btn btn-sm btn-secondary me-3" 
     >
     <!-- [disabled]="lockStatus?.screenStatus !== 'EDIT'"
    (click)="cancelAgencyTransfer()"
    class="btn btn-sm btn-secondary" -->
    Cancel
</button>
<button type="button" class="btn btn-sm btn-secondary me-3" (click)="saveTaskTimeDetails()">
    
    Save
</button>

<button type="button"  class="btn btn-sm btn-secondary me-3" 
     >
     <!-- [disabled]="lockStatus?.screenStatus !== 'EDIT'"
    (click)="cancelAgencyTransfer()"
    class="btn btn-sm btn-secondary" -->
    Send
</button>
</div>