 <div class="tableFixHead h-p-450 border border-top-0" style="height: 170px;">
            <table class="table table-sm border mb-2 spk-border border-left-0 border-right-0" >
                <thead>
                    <tr class="text-primary">
                        <th class="w-p-28"></th>
                        <th>Resource</th>
                         <th>Type</th>
                         <th>Month</th>
                        <th >Date</th>
                        <th >Year</th>
                        <th >In Time</th>
                        <th >Out Time</th>
                        <th >Total Duration</th>
                         <th >Break Duration</th>
                        <th >Act. Work Hours </th>
                        <th >Comments</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <tr   *ngFor="let item of viewTaskTimeArray; let i = index"
                        [ngClass]="{ active: i === selectDetailsRow }"
                        (click)="selectedRow(item, i)">
                        <td class="w-p-28">
                            <app-dice-menu
                                [actionLinks]="diceOptions"
                                [hostComponent]="'PaymentBatchDetailsGridListComponent'"
                                [item]="item"
                                [index]="i"
                            ></app-dice-menu>
                        </td>
                        <td>{{ item?.resource}}</td>
                        <td>{{ item?.type}}</td>
                        <td>{{ item?.month}}</td>
                        <td>{{ item?.date}}</td>
                        <td>{{ item?.year}}</td>
                        <td>{{ item?.inTime}}</td>
                        <td>{{ item?.outTime}}</td>
                        <td>{{ item?.totalDuration}}</td>
                        <td>{{ item?.breakDuration}}</td>
                        <td>{{ item?.actWorkHours}}</td>
                        <td>{{ item?.comments}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
