 <div class="tableFixHead h-p-450">
            <table class="table table-sm border my-2 spk-border" >
                <thead>
                    <tr class="text-primary">
                        <th>Resource</th>
                         <th>Type</th>
                         <th>Month</th>
                        <th >Date</th>
                        <th >Year</th>
                        <th >In Time</th>
                        <th >Out Time</th>
                        <th >Total Duration</th>
                         <th >Break Duration</th>
                        <th >Act. Work Hours </th>
                        <th >Comments</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Gayathri</td>
                        <td>Present</td>
                        <td>07</td>
                        <td>28</td>
                        <td>2025</td>
                        <td>10:30</td>
                        <td>19:30</td>
                        <td>9:00</td>
                        <td>1:00</td>
                        <td>8:00</td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td>Gayathri</td>
                        <td>Present</td>
                        <td>07</td>
                        <td>29</td>
                        <td>2025</td>
                        <td>10:30</td>
                        <td>19:30</td>
                        <td>9:00</td>
                        <td>1:00</td>
                        <td>8:00</td>
                        <td></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
