<div class="login-bg">
    <div class="container-fluid d-flex justify-content-center align-items-center p-3">
    <form action="" class="" [formGroup]="loginform" (ngSubmit)="onsubmit()">
        <div class="form-group my-3">
            <input type="text" class="form-control pe-5 ps-3" placeholder="UserID" id="username" name="username" formControlName="username">
             <div *ngIf="loginform.get('username')?.touched && loginform.get('username')?.errors">
             <span class="text-danger" *ngIf="loginform.get('username')?.errors?.['required']">
             Username is required
            </span>
            </div>
        </div>
        <div class="form-group my-3">
             <input type="password" class="form-control pe-5 ps-3" placeholder="Password" id="password" name="password" formControlName="password">
              <i class="fa-solid fa-eye"></i>
             <div *ngIf="loginform.get('password')?.touched && loginform.get('password')?.errors">
             <span class="text-danger" *ngIf="loginform.get('password')?.errors?.['required']">
                 Password is required
             </span>
            <span class="text-danger" *ngIf="loginform.get('password')?.errors?.['pattern']">
                Please enter the strong password
            </span>
            </div>
        </div>
        <div class="form-group ">
            <input type="checkbox" name="checkbox" id="checkbox" class="form-check-input">
            <label for="" style="color:#3b6caa;font-weight: 500;" class="mx-1">Remember My Login</label>
        </div>
        <div class="form-group text-center my-3">
            <button class="btn px-4 py-1" type="submit">
                <strong class="text-white">Login</strong>
            </button>
        </div>
    </form>
</div>
</div>