<div class="login-bg">
    <div class="container-fluid d-flex justify-content-center align-items-center p-3">
    <form action="" class="">
        <div class="form-group my-3">
              <input type="text" class="form-control pe-5 ps-3" placeholder="UserID" id="username" name="username">
        </div>
        <div class="form-group my-3">
             <input type="password" class="form-control pe-5 ps-3" placeholder="Password" id="password" name="password">
             <i class="fa-solid fa-eye"></i>
            </div>
        <div class="form-group ">
            <input type="checkbox" name="checkbox" id="checkbox" class="form-check-input">
            <label for="" style="color:#3b6caa;font-weight: 500;" class="mx-1">Remember My Login</label>
        </div>
        <div class="form-group text-center my-3">
            <button class="btn px-4 py-1 text-white">
                <strong>Login</strong>
            </button>
        </div>
    </form>
</div>
</div>