<app-header-common [loggeduser]="loggeduser"></app-header-common>
<div class="container mt-3 pe-2">
  <div class="row me-2">
    <div class="col-3 pr-0">
      <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs-left nav-pills flex-column" orientation="vertical"
      >
      {{ active }}
        <ng-container ngbNavItem="apply" >
          <button ngbNavLink class="border-primary p-2" [routerLink]="['/task/apply-page']" routerLinkActive="active">Apply</button>
        </ng-container>
        <ng-container ngbNavItem="view">
          <button ngbNavLink class="border-primary" [routerLink]="['/task/view-page']" >View</button>
        </ng-container>
      </div>
    </div>
    
    
    <div class="col-21 border border-primary m-0  pl-0">
      <ng-container *ngIf="active === 'apply'">
        <app-applypage></app-applypage>
      </ng-container>
      <ng-container *ngIf="active === 'view'" >
        <app-viewsample></app-viewsample>
      </ng-container>
    </div>
  </div>
</div>
