<div class="tableFixHead mt-3 border border-top-0" style="height: 261px;">
            <table class="table table-sm border border-left-0 border-right-0 mb-2  spk-border" style="width:180% !important">
                <thead>
                    <tr class="text-primary">
                         <th ></th>
                         <th>Project</th>
                         <th class="w-5">Sprint</th>
                         <th class="w-20">Task Name</th>
                        <th class="w-5">Type</th>
                        <th class="w-5">SOW/Issue No.</th>
                        <th >Is Billable</th>
                        <th >Billing Type</th>
                        <th >Res. Name</th>
                         <th class="w-5" >Team</th>
                        <th >Est. St. Dt.</th>
                        <th >Est. End Dt.</th>
                        <th >Est. Hours</th>
                        <th >Act. St. Dt.</th>
                        <th >Act. End Dt.</th>
                        <th >St. Time</th>
                        <th >End Time</th>
                        <th >Act. Hours</th>
                         <th >%</th>
                        <th >Status</th>
                        <th >Comments</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>24144- VIEW PAGE DESIGN</td>
                        <td>Training</td>
                        <td></td>
                        <td>N</td>
                        <td>Planned</td>
                        <td>Gayathri G</td>
                        <td>Product</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> 7/28/2025</td>
                        <td> 7/28/2025</td>
                        <td> 10:30</td>
                        <td>13:30</td>
                        <td>3:00</td>
                        <td>40</td>
                        <td>In Progress</td>
                        <td></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
