<div class="tableFixHead mt-3 border border-top-0" style="height: 261px;">
            <table class="table table-sm border border-left-0 border-right-0 mb-2  spk-border" style="width:180% !important">
                <thead>
                    <tr class="text-primary">
                         <th ></th>
                         <th>Project</th>
                         <th class="w-5">Sprint</th>
                         <th class="w-20">Task Name</th>
                        <th class="w-5">Type</th>
                        <th class="w-5">SOW/Issue No.</th>
                        <th >Is Billable</th>
                        <th >Billing Type</th>
                        <th >Res. Name</th>
                         <th class="w-5" >Team</th>
                        <th >Est. St. Dt.</th>
                        <th >Est. End Dt.</th>
                        <th >Est. Hours</th>
                        <th >Act. St. Dt.</th>
                        <th >Act. End Dt.</th>
                        <th >St. Time</th>
                        <th >End Time</th>
                        <th >Act. Hours</th>
                         <th >%</th>
                        <th >Status</th>
                        <th >Comments</th>
                    </tr>
                </thead>

                <tbody >
                    <tr *ngFor="let item of viewTaskScheduleArray">
                        <td>{{item.project}}</td>
                        <td>{{item.sprint}}</td>
                        <td>{{item.taskName}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.sowIssueNo}}</td>
                        <td>{{item.isBillable}}</td>
                        <td>{{item.billingType}}</td>
                        <td>{{item.resName}}</td>
                        <td>{{item.team}}</td>
                        <td>{{item.estStDt}}</td>
                        <td>{{item.estEndDt}}</td>
                        <td>{{item.estHours}}</td>
                        <td>{{item.actStDt}}</td>
                        <td>{{item.actEndDt}}</td>
                        <td>{{item.stTime}}</td>
                        <td>{{item.endTime}}</td>
                        <td>{{item.actHours}}</td>
                        <td>{{item.percentage}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.comments}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
