<div class="card border m-4">
  <div class="card-header border-bottom d-flex">
    <div
      class="title"
      title="{{ 'SI_APPS_REFUND_BATCH_LIST.TITLE_BATCHES_DETAILS' }}"
    >
      Task
    </div>
  </div>
  <div class="card-body p-0">
    <form [formGroup]="ApplyTaskTimeFormGroup">
      <div class="tableFixHead text-nowrap" >
        <table class="table table-sm table-w-150 table-borderless">
          <thead class="text-primary sticky-top border-bottom">
            <tr class="bg-tbl-head">
              
              <th></th>
              <th >Resource</th>
              <th>Type</th>
              <th>Month</th>
              <th>Day</th>
              <th>Year</th>
              <th>In Time</th>
              <th>Out Time</th>
              <th>Total Duration</th>
              <th>Break Duration</th>
              <th>Act. Work Hours</th>
              <th class="pe-2">Comments</th>
            </tr>
          </thead>

          <!-- <tbody (wheel)="onScroll($event)" > -->
          <tbody>
            <tr class="p-3">
              <!-- 1.<td class="w-p-28" id="addDetail{{ i }}"> -->
              <!-- [item]="batchDetailForm" -->
              <!-- <si-dice-menu
                                        [actionLinks]="timelist"
                                        [hostComponent]="'PaymentBatchDetailsGridListComponent'"
                                    ></si-dice-menu> -->
              <!-- </td> -->
               <td class="w-2 pt-3 ">
                  <app-dice-menu
                  [actionLinks]="diceOptions"
                  [hostComponent]="'ApplyTaskTimeGridComponent'"                          
               
                  ></app-dice-menu>
                </td>
              
              <td class="w-8 pt-3 ps-0">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:ApplyTaskTimeFormGroup?.get('resourceCode')?.errors
                  }"
                >
               <select
                  class="form-control form-control-sm form-select"
                  id="resourceCode"
                  name="resourceCode"
                  (change)="changeResource()"
                  formControlName="resourceCode"
                  title="{{ ApplyTaskTimeFormGroup?.get('resourceCode')?.value }}"
                >
                <option
                    *ngFor="let item of resourceDropdown; let i = index"
                    [ngValue]="item.codeName"
                  >
                    {{ item.screenName }}
                  </option>
                </select>
                </div>
                </td>
              <td class="w-8 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('typeCode')?.errors
                  }"
                ></div>
                <select
                  class="form-control form-control-sm form-select"
                  id="typeCode"
                  name="typeCode"
                  title="{{ ApplyTaskTimeFormGroup?.get('typeCode')?.value }}"
                  formControlName="typeCode"
                >
                  
                  <option
                    *ngFor="let item of typeHeaderDropdown; let i = index"
                    [ngValue]="item.codeName"
                  >
                    {{ item.screenName }}
                  </option>
                </select>
              </td>

              <td class="w-4 pt-3">
               <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('month')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="month"
                    (blur)="validateMonth($event)"
                    maxlength="2"
                    formControlName="month"
                    
                  />
                  <!-- formControlName="month" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('month').value
                                            ? ApplyTaskTimeFormGroup.get('month').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-4 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('date')?.errors,
                   
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="date"
                    mask="d0"
                    maxlength="2"
                    formControlName="date"
                    (blur)="validateDay($event)"
                  
                  />
                  <!-- formControlName="date" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('date').value
                                            ? ApplyTaskTimeFormGroup.get('date').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-5 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('year')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="year"
                    mask="0000"
                    maxlength="4"
                    formControlName="year"
                    (blur)="checkYear()"
                  />
                  <!-- formControlName="year" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('year').value
                                            ? ApplyTaskTimeFormGroup.get('year').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-5 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('inTime')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="inTime"
                    maxlength="5"
                    mask="Hh:m0"
                    (blur)="updateTotalDuration('inTime')"
                    placeholder="00:00"
                    [dropSpecialCharacters]="false"
                    formControlName="inTime"
                  />
                  <!-- formControlName=" inTime" -->
                  <!-- [title]="
                      (blur)="updateTotalDuration($event)"
                                            ApplyTaskTimeFormGroup.get('intime').value
                                            ? ApplyTaskTimeFormGroup.get('intime').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-5 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('outTime')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="outTime"
                    maxlength="6"
                    mask="00:00"
                    [dropSpecialCharacters]="false"
                    (blur)="updateTotalDuration('outTime')"
                    placeholder="00:00"
                    formControlName="outTime"
                  />
                  <!-- formControlName=" outTime" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get(' outTime').value
                                            ? ApplyTaskTimeFormGroup.get(' outTime').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-8 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:
                      ApplyTaskTimeFormGroup?.get('totalDuration')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="totalDuration"
                    maxlength="5"
                    readonly
                    formControlName="totalDuration"
                  
                  />
                  <!-- formControlName="  totalDuration" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('  totalDuration').value
                                            ? ApplyTaskTimeFormGroup.get('  totalDuration').value
                                            : ''
                                            " -->
                </div>
              </td>
              <td class="w-8 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required:
                      ApplyTaskTimeFormGroup?.get('breakDuration')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="breakDuration"
                    maxlength="5"
                    mask="Hh:m0"
                    formControlName="breakDuration"
                    (blur)="updateActualWorkHours()"
                    [dropSpecialCharacters]="false"
                    
                  />
                </div>
              </td>
              <td class="w-8 pt-3">
                <div
                  class="input-group input-group-sm"
                  [ngClass]="{
                    required: ApplyTaskTimeFormGroup?.get('actWorkHours')?.errors
                  }"
                >
                  <input
                    class="form-control"
                    type="text"
                    id="actWorkHours"
                    maxlength="6"
                    readonly
                    formControlName="actWorkHours"
                  />
                  <!-- formControlName="   actWorkHours" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('   actWorkHours').value
                                            ? ApplyTaskTimeFormGroup.get('   actWorkHours').value
                                            : ''
                                            " -->
                </div>
              </td>

              <td class="w-8 pt-3 pe-2">
                <div class="input-group input-group-sm">
                  <input
                    class="form-control"
                    type="text"
                    id="comments"
                    maxlength="25"
                    formControlName="comments"
                  />
                  <!-- formControlName="     comments" -->
                  <!-- [title]="
                                            ApplyTaskTimeFormGroup.get('     comments').value
                                            ? ApplyTaskTimeFormGroup.get('     comments').value
                                            : ''
                                            " -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
