<div class="modal-header">
    <div class="title">Task Mail Summary</div>
</div>
<div class="modal-body">
    <div class="container-fluid m-3 p-3 border">
        <form class="form-inline">
            <div class="form-group row col-sm-6">
                <label for="category" class="col-form-label-sm col-sm-7" title="Category">Category</label>
                <select class="form-control form-control-sm col-sm-17">
                    <option value="All" title="All">All</option>
                </select>
            </div>
        </form>
        <div class="tableFixHead h-p-450">
            <table class="table table-sm table-responsive my-2 spk-border">
                <thead>
                    <tr>
                         <th></th>
                         <th>Project</th>
                          <th>Sprint</th>
                         <th>Task Name</th>
                        <th>Type</th>
                        <th>SOW/Issue No.</th>
                        <th>Is Billable</th>
                        <th>Billing Type</th>
                        <th>Res. Name</th>
                         <th>Team</th>
                        <th>Est. St. Dt.</th>
                        <th>Est. End Dt.</th>
                        <th>Est. Hours</th>
                        <th>Act. St. Dt.</th>
                        <th>Act. End Dt.</th>
                        <th>St. Time</th>
                        <th>End Time</th>
                        <th>Act. Hours</th>
                         <th>%</th>
                        <th>Status</th>
                           <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                

                
              
            </table>
        </div>
    </div>
</div>