<div class="header-container d-flex justify-content-between align-items-center px-4 py-3 shadow-sm">
  <div class="logo"></div>

  <div class="right-section d-flex align-items-center gap-4">
    <div class="d-flex align-items-center gap-3">

      <!-- Buttons -->
    <ng-template #popContent>
    <div class="user-meta">
        <div class="card border-0">
            <div class="card-body p-2">
                <div class="media" >
                    <img
                        class="mr-2"
                        src="../../../assets/dummy-profile.jpg"
                        alt="Generic placeholder image"
                        style="width: 75px; height: auto;"
                    />
                    <div class="media-body">
                        <h5
                            class="mt-0 mb-1"
                           
                        >
                            {{loggeduser?.userName}}
                        </h5>
                        <div class="mb-2" >
                           {{loggeduser?.userEmailId}}
                        </div>
                        <div class="actions mt-3" title="My Profile">
                           
                            <a class="mr-2 btn btn-sm btn-outline-primary " (click)="logout()" title="Logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-container >
    <button
        
        type="button"
        class="btn btn-sm btn-dark text-light"
        [ngbPopover]="popContent"
        placement="bottom-right"
        title="My Profile"
        [autoClose]="true"
        container="body"      
    >
        <inspire-icon class="icon icon-sm" name="user"></inspire-icon>
       {{loggeduser?.userName}}
    </button>
</ng-container>


